.post-list
  %h3
    %strong= @month.strftime('%B')

  - if @posts.any?
    %ul.bullet-list

      %li
        %span.title
          %strong Title
        %span.posted_at
          %strong Posted at
        %span.tags
          %strong Tags

        - @posts.each do |post|
          %li
            %span.title
              %a{:href => "/#{post.permalink}"}= post.title
            %span.posted_at
              = post.published_at.strftime('%B %d, %Y')
            %span.tags
              - post.tags.each_with_index do |tag, index|
                - if post.tags.length - 1 == index
                  %a{:href => "/tag/#{tag}"}= tag
                - else
                  %a{:href => "/tag/#{tag}"}>= tag
                  ,
