.blog-wrapper
  .blog-item

    %h2.blog-heading= @post.truncated_title(70)

    -# %img{:class => "blog-img", :src => "/images/gallery/blog-thumbs/1.jpg"}
    .blog-content
      %ul.post-details
        %li.time-posted= @post.published_at.strftime('%B %d, %Y')
        %li.user-posted= @post.author
        - if @post.tags
          %li.tags-posted
            = partial :tag_list, :locals => { :tags => @post.tags }

        -# %li.comments-posted 12 Comments
        %li.more-posted
          %a{:href => "/"} Back home

      ~ markdown(@post.content)


    .navigation
      .decoration

      .previous
        - if @post.has_previous?
          %a{:href => "/#{@post.previous_post.permalink}"}<
            %img{:src => "/images/icons/left.png", :class => "icon-hover", :style => "opacity: 1;"}>
            %span<
              %h4= @post.previous_post.truncated_title(50)

      .next
        - if @post.has_next?
          %a{:href => "/#{@post.next_post.permalink}"}<
            %span<
              %h4= @post.next_post.truncated_title(50)
            %img{:src => "/images/icons/right.png", :class => "icon-hover", :style => "opacity: 1;"}>

    .decoration

    #disqus_thread


    %script{:type => "text/javascript"}
      var disqus_url        = "http://www.tamingthemindmonkey.com/#{@post.permalink}";
      var disqus_shortname  = 'tamingthemindmonkey';
      var disqus_title      = "#{@post.title}";

      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    %noscript
      Please enable JavaScript to view the
      %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.

    %a{:href => "http://disqus.com", :class => "dsq-brlink"}
      blogcomments powered by
      %span{:class => "logo-disqus"} Disqus
