.blog-wrapper
  .blog-item

    %h2.blog-heading= @post.title

    .blog-share
      %a{:href => "#"}
        %img{:class => "icon-hover", :src => "/images/icons/twitter-large.png", :alt => "twitter", :width => "30"}

    -# %img{:class => "blog-img", :src => "/images/gallery/blog-thumbs/1.jpg"}
    .blog-content
      %ul.post-details
        %li.time-posted= @post.published_at
        %li.use-posted= @post.author
        %li.tag-posted= @post.tags
        %li.com-posted 12 Comments
        %li.mor-posted
          %a{:href => "/"} Back To Posts

      ~ markdown(@post.content)

    .next
      NEXT
      %a{:href => "/#{@post.next_post.permalink}"}= @post.next_post.title

    .previous
      PREVIOUS
      %a{:href => "/#{@post.previous_post.permalink}"}= @post.previous_post.title
    .decoration

    #disqus_thread

    %script{:type => "text/javascript"}
      var disqus_developer = 1; // (/localhost|github|dev/i).test(location.host);
      var disqus_shortname = 'tamingthemindmonkey';
      -#//    var disqus_identifier =
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    %noscript
      Please enable JavaScript to view the
      %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.

    %a{:href => "http://disqus.com", :class => "dsq-brlink"}
      blogcomments powered by
      %span{:class => "logo-disqus"} Disqus
